.auth-box {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #272424, #555555);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.auth-paper {
  padding: 2rem;
  width: 350px;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  background :linear-gradient(to bottom, #3d454c, #7a7b7b) !important;
  
}

.login_register{
  background-color: rgb(255, 255, 255) !important;
  color:  rgb(5, 5, 5) !important;
  font-weight: bolder !important;
  
            
}

.auth-link {
  color: rgb(59, 8, 177);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
}

/* Remove outline when focused (clicked or tabbed) */
.auth-link:focus {
  outline: none;
  box-shadow: none;
}

/* Optional hover effect */
.auth-link:hover {
  color: #90caf9;
}

/* Style the text color */
.textfield .MuiOutlinedInput-input {
  color: rgb(255, 255, 255) !important;
}



/* Style the border color (default, hover, focus) */
.textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgb(255, 255, 255) !important;
}



.textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: cyan !important;
}

/* Style the label */
.textfield .MuiInputLabel-root {
  color: white !important;
}

.textfield .MuiInputLabel-root.Mui-focused {
  color: cyan !important;
}
